[submodule "modules/mayaportal"]
	path = modules/mayaportal
	url = ./modules/mayaportal
[submodule "modules/mayajiva/godot-cpp"]
	path = modules/mayajiva/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "website/themes/PaperMod"]
	path = website/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
