[submodule "modules/mayaportal"]
	path = modules/mayaportal
	url = https://github.com/mayalucia/mayaportal.git
[submodule "modules/mayapramana"]
	path = modules/mayapramana
	url = https://github.com/mayalucia/mayapramana.git
[submodule "website/themes/PaperMod"]
	path = website/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "domains/bravli"]
	path = domains/bravli
	url = git@github.com:mayalucia/bravli.git
[submodule "domains/parbati"]
	path = domains/parbati
	url = git@github.com:mayalucia/parbati.git
