{:deps   true
 :nrepl  {:port 7003}

 :builds
 {:app
  {:target    :browser
   :output-dir "../static/js"
   :asset-path "/js"

   :modules
   {:project-constellation
    {:init-fn project-constellation.core/init!}}

   :devtools
   {:http-root "../.."
    :http-port 3334}

   :compiler-options
   {:infer-externs :auto}}}}
